<div id="movie-list-wrapper">
  <div id="sidebar">
    <%= render 'sidebar' %>
  </div>
  <div id="movie-list">
    <%= render 'movies_sorter' %>
    <%= render(@movies) || 'No movies to display' %>
  </div>
</div>