

.flash {
  position: relative;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    max-width: 800px;
    margin: auto;
  }

  padding: 15px 60px 17px;
  color: #fff;
  text-align: center;

  &.notice {
    background: rgb(28, 184, 65);
  }

  &.alert {
    background: rgb(202, 60, 60);
  }

  .dismiss {
    position: absolute;
    right: 30px;
    top: 11px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-decoration: none;
  }
}
