#header {
  background: honeydew;

  .header-title {
    display: block;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: .1em;
    background-color: black;
    padding: 1.2em 1em;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .header-auth {
    padding: 0.5em;
    vertical-align: baseline;
    text-align: center;

    a {
      display: inline-block;
      margin: 0.5em;
    }
  }
}

@media screen and (min-width: 35.5em) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}