@import "purecss";
@import "header";
@import "flashes";
@import "movielist";
@import "movie";

.form-wrapper {
  max-width: 500px;
  margin: auto;

  input[type=text],
  input[type=password],
  textarea {
    width: 500px;
  }
}

form .error {
  font-size: .75em;
  color: rgb(202, 60, 60);
}